.basic-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 140px;
    bottom: 0;
    text-align: center;
}

.login {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100px;
}



.signup {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100px;
}


.signup-btn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 75px;
}

.center {
    text-align: center;
}

.desc {
    color: #fff;
}

.form {
    // Reset default styles
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-appearance: none; 
    -moz-apperance: none;
    // Styles
    color: #fff;
    height: 50px;
    width: 400px;
    background: rgba(0,0,0,0.3);
    border-left: solid 20px rgba(0,0,0,0);
    &:focus {
        font-size: 20px;
    }
    font-weight: 800;
}


.msg-error {
    color: #DA4453;
}
