
.auth-form {
    position: absolute;
    top: 300px;
    margin: auto;
    width: 40%;
}

.signup-form {
    top: 200px;
}


@media screen and (max-width: 480px) {
    .auth-form {
        width: 70%;
    }
}