
.auth-form {
    input {
        position: relative;
        margin: 10px;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: rgba(0, 0, 0, 0.18);
        top: 150px;
        height: 55px;
        width: 400px;
        color: #fff;
        font-weight: 800;
    }
}
