
.landing-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
}

.landing-title {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 160px;
    font-weight: 100;
    font-family: 'Monoton', cursive;
    margin: 7px;
    width: 100%;
    margin-top: 80px;
}


.landing-description {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 20px;
}



@media screen and (max-width: 480px) {
    .landing-title {
        font-size: 85px;
        font-weight: 100;
    }
}
