{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PINNA | LOGIN</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Web Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Map -->
    <script src="https://maps.google.com/maps/api/js?sensor=true" async></script>
</head>
<body>

    <div class="landing-contents">
        <a class="noneStyle" href="/">
            <h1 class="landing-title">PINNA</h1>
        </a>
      
        {% if form.errors %}
            <p class="msg-error center">ユーザー名かパスワードが違います。</p>
        {% else %}
            <p class="center desc">ユーザー名とパスワードを入力してください。</p>
        {% endif %}
      
        <form action="{% url 'login' %}" method="post" role="form">{% csrf_token %}
            <p class="user">
                <label for="id_username"></label>
                <input id="id_username" class="form" type="text" placeholder="USER NAME" name="username" autofocus required/>
            </p>
            <p class="pass">
                <label for="id_password"></label>
                <input id="id_password" class="form"  name="password" type="password" placeholder="PASSWORD" required/>
            </p>
            <p class="submit">
                <div class="login">
                    <button type="submit" class="btn second start">LOGIN</button>
                </div>
            </p>
            <input name="next" type="hidden" value="{{ next }}"/>
        </form>

    </div>

    <!-- Map描画エリア -->
    <div id="map_canvas"></div>
    <script src="{% static 'mapstyle.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
    <script>
        zoom = 16;
    </script>
</body>
