{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PINNA | LOGIN</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Web Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Map -->
    {% include 'gmap_landing.html'%}
</head>
<body>

    <div class="landing-contents">
        <a class="noneStyle" href="/">
        <h1 class="landing-title">PINNA</h1>
        </a>

        {% if form.errors %}
            <p class="msg-error center">ユーザー名かパスワードが違います。</p>
        {% else %}
            <p class="center desc">ユーザー名とパスワードを入力してください。</p>
        {% endif %}

        <form class="basic-form auth-form" action="{% url 'login' %}" method="post" role="form">{% csrf_token %}
            <p class="user">
				<div class="post-input">
      				<input id="id_username" type="text" name="username" autofocus required>
      				<span class="highlight"></span>
      				<span class="bar"></span>
      				<label for="id_username">USERNAME</label>
    			</div>
            </p>
            <p class="pass">
                <div class="post-input">
      				<input id="id_password" name="password" type="password" required />
      				<span class="highlight"></span>
      				<span class="bar"></span>
      				<label for="id_password">PASSWORD</label>
    			</div>
            </p>
            <p class="submit">
                <!--<div class="login">-->
                    <button type="submit" class="btn second start">LOGIN</button>
                <!--</div>-->
            </p>
            <input name="next" type="hidden" value="{{ next }}"/>
        </form>

    </div>

    <!-- Map描画エリア -->
    <div id="map_canvas"></div>


    {% include 'script.html'%}
    <script>
        zoom = 16;
    </script>
</body>
