{% load staticfiles %}


{% block content %}

<style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0
  }

  /* Mapのスタイル */
  #map_canvas {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
</style>
<script src="{% static 'script/mapstyle.js' %}"></script>
<script src="{% static 'script/pins.js' %}"></script>
<script>
  {% for pin in pins %}
		{{ pin | safe}}
  {% endfor %}
</script>
<script src="{% static 'script/map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA32MTfuMesMcdn8CyF4wjcdizPKbqUdVg&callback=initialize(pins)" async defer></script>
{% endblock %}
