{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PINNA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% include 'gmap_style.html'%}

</head>
<body>

    <div class="landing-contents">
        <h1 class="landing-title">PINNA</h1>
        <p class="landing-description">お気に入りの動画や音楽を地図に貼ろう</p>
        <a class="noneStyle" href="/signup/"><button class="btn second start">START</button></a>
    </div>

    <!-- Map描画エリア -->
    <div id="map_canvas"></div>



    {% include 'script.html'%}
    <script>
        zoom = 16;
    </script>
</body>
